@import "../../settings";

.main-container {
  padding: 2rem;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: space-evenly;
}

.detailContainer {
  display: flex;
  gap: 16px;
  padding: 2rem;
  background-color: rgba($color: #000, $alpha: 0.7);
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

/*CARD*/

.card {
  cursor: pointer;
  margin: auto;
  width: 18rem;
  transition: 1s;
  text-align: right;
  border-radius: 1px;
  background-color: gainsboro;
  border: 1px solid black;
  &__img {
    height: 220px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1px;
  }
  &__body {
    color: $coffee;
    font-family: $righteousFont;
    &--title {
      color: inherit;
      font-family: $lobsterFont;
      font-weight: bolder;
    }
  }
  &:hover {
    box-shadow: 1px 1px $darkBrown;
    background-color: white;
  }
}
.card__btn {
  background-color: $goldie;
  color: $coffee;
  border: 1px solid #000;
  font-family: $righteousFont;
  font-weight: bold;
  font-size: 14px;
  &:hover{
    background-color: $coffee;
  color: $goldie;
  }
}

//TICKET

.ticket-total {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  .span-ticket {
    float: right;
    margin-right: 1em;
  }
}

.ticket-navs {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 2px #000;
  transition: 1s;
  &:hover {
    color: $darkBrown;
    text-shadow: 1px 1px 2px #fff;
  }
}

.copy-icon {
  cursor: pointer;
  background-color: $bread;
  border-radius: 5px;
  padding: 3px;
  transition: 1s;
  &:hover {
    transform: translateY(-1px);
    background-color: $coffee;
  }
}
