/* .color1 {color: #0fffe9;}
.color2 {color: #baffa7;}
.color3 {color: #3e0595;}
.color4 {color: #ce2f9b;}
.color5 {color: #ff8eaa;}
 */

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.main-container {
  background-color: #0fffe9;
  padding: 2rem;
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

@media only screen and (max-width: 1400px) {
  .main-container {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 991px) {
  .main-container {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: auto;
  }
}

.detailContainer {
  display: flex;
  gap: 16px;
  padding: 2rem;
  background-color: #3e0595;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

/*CARD*/

.card {
  width: 18rem;
  &__img {
    height: 220px;
    max-width: 100%;
    object-fit: cover;
  }
  &__body {
    background-color: #ff8eaa;
    font-family: Lobster;
    &--title {
      color: white;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-weight: bolder;
    }
    &--btn {
      background-color: #ce2f9b;
      border-radius: 10%;
      a {
        text-decoration: none;
        color: #0fffe9;
      }
    }
  }
}
