/* .color1 {color: #0fffe9;}
.color2 {color: #baffa7;}
.color3 {color: #3e0595;}
.color4 {color: #ce2f9b;}
.color5 {color: #ff8eaa;}
 */

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.main-container {
  background-color: #0fffe9;
  padding: 2rem;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: space-evenly;
}



.detailContainer {
  display: flex;
  gap: 16px;
  padding: 2rem;
  background-color: #3e0595;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

/*CARD*/

.card {
  box-shadow: 2px 5px 10px #ff8eaa;
  &__img {
    height: 220px;
    max-width: 100%;
    object-fit: cover;
  }
  &__body {
    background-color: #ff8eaa;
    font-family: Lobster;
    &--title {
      color: white;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-weight: bolder;
    }
    &--btn {
      background-color: #3e0595;
      border: none;
      
      a {
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        
      }
    }
  }
}
