.mainContainer {
    background-color: rgb(125, 191, 231);
    padding: 2rem;
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

@media only screen and (max-width: 1400px) {
    .mainContainer{
        grid-template-columns: auto auto auto;
    }

  }

  @media only screen and (max-width: 991px) {
    .mainContainer{
        grid-template-columns: auto auto ;
    }
    
  }

  @media only screen and (max-width: 768px) {
    .mainContainer{
        grid-template-columns: auto;
    }
    
  }


.detailContainer {
    display: flex;
    gap: 16px;
    padding: 2rem;
    background-color: bisque;
    flex-wrap: wrap;
    justify-content: center;

}

.card__img{
    height: 16em;

}



