.mainContainer {
    background-color: rgb(125, 191, 231);
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.card{
   background-color: gray;
   font-family: sans-serif;
   font-weight: 300;
   display: flex;
   flex-wrap: wrap;
   
   overflow: hidden;
}

.card__img{
    height: 250px;
    position: relative;
    border: 5px double gray;
}



