/* .color1 {color: #0fffe9;}
.color2 {color: #baffa7;}
.color3 {color: #3e0595;}
.color4 {color: #ce2f9b;}
.color5 {color: #ff8eaa;}
 */

.mainContainer {
    background-color:#3e0595 ;
    padding: 2rem;
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}



@media only screen and (max-width: 1400px) {
    .mainContainer{
        grid-template-columns: auto auto auto;
    }

  }

  @media only screen and (max-width: 991px) {
    .mainContainer{
        grid-template-columns: auto auto ;
    }
    
  }

  @media only screen and (max-width: 768px) {
    .mainContainer{
        grid-template-columns: auto;
    }
    
  }


.detailContainer {
    display: flex;
    gap: 16px;
    padding: 2rem;
    background-color: floralwhite;
    flex-wrap: wrap;
    justify-content: center;

}


.card{
    width: 18rem;
}

.card_img{
    height: 220px;
    max-width: 100%;
    object-fit: cover;

}

.card_img_detail{
    height: 250px;
    max-width: 100%;
    object-fit: cover;
}