@import "../../settings";

.detail__container {
  padding: 1em;
  align-items: center;
  color: grey;
}

.detail {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  img {
    object-fit: cover;
    border: 2px solid $milkCaramel;
    border-radius: 5px;
    max-height: 500px;
    transition: 1s;
    &:hover {
      box-shadow: 1px 1px $darkBrown;
    }
  }
}

.counter-section {
  color: white;
  .button-section {
    .dec__button,
    .inc__button {
      background-color: $darkBrown;
      border: none;
      width: 20px;
      height: 20px;
      transition: all 0.8s;
      display: flex;
      color: inherit;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      &:hover {
        color: #fff;
      }
    }
  }

  .add__cart__btn {
    background-color: $darkBrown;
    color: $goldie;
    padding: 0 10px;
    transition: 0.8s all;
    border: none;
    height: 40px;
    &:hover {
      color: #fff;
    }
  }
}

.input-count {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border: none;
}
