.detail__container {
  padding: 1em;
  background-color: #0fffe9;
  align-items: center;
  color: grey;
}

.detail {
  background-color: #0fffe9;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  img {
    object-fit: cover;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px red;
    max-height: 500px;
  }
}

.counter-section {
  color: white;
  .button-section {
    .dec__button,
    .inc__button {
      background-color: white;
      border: none;
      width: 20px;
      height: 20px;
      transition: all 0.8s;
      display: flex;
      color: inherit;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      &:hover {
        transform: translateY(.5px);
      }
    }
  }

  .add__cart__btn {
    color: red;
    padding: 0 10px;
    transition: 0.8s all;
    border: none;
    height: 40px;

    font-weight: bold;
    &:hover {
      transform: translateY(.5px);
    }
  }
}

.input-count {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border: none;
}
