.detail__container {
  padding: 2em;
  background-color: #0fffe9;
  align-items: center;
  color: grey;
}

.detail {
  background-color: #3e0595;
  padding: 4em 7em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  aside {
    width: 50%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border: 5px solid #0fffe9;
      border-radius: 10px;
    }
  }
  &__body {
    padding: 24px 16px;
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 1em;
    border: 1px solid rgba($color: #0fffe9, $alpha: 0.9);
    border-radius: 8px;
    &--title {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: white;
      font-size: 3em;
    }
  }
}

.dec__button {
  background-color: violet;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.inc__button {
  background-color: violet;
  font-weight: bold;
  border: none;
  border-radius: 0 5px 5px 0 !important;
}

.add__cart__btn {
  background-color: violet;
  font-weight: bold;
  &:hover {
    background-color: #0fffe9;
  }
}

.dec__button:hover {
  background-color: #0fffe9;
  color: white;
}
.inc__button:hover {
  background-color: #0fffe9;
  color: white;
}

.count {
  padding: 10px;
  button p {
    background-color: transparent;
  }
}

.hover__section {
  color: white;
  a {
    text-decoration: none;
  }
}
