.detail__container {
  padding: 4em;
  background-color: #0fffe9;
  align-items: center;
  color: grey;
}

.detail{
  background-color: #3e0595;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  &__img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 1px solid red;
  }
  &__body{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: inherit;
  }

}



.dec__button {
  background-color: violet;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.inc__button {
  background-color: violet;
  font-weight: bold;
  border: none;
  border-radius: 0 5px 5px 0 !important;
}

.add__cart__btn {
  background-color: violet;
  font-weight: bold;
  &:hover{
    background-color: #3e0595;
  }
 
}

.dec__button:hover {
    background-color: #3e0595;
    color: white;
}
.inc__button:hover {
    background-color: #3e0595;
    color: white;
}


