@import "../../settings";

.navbar-bg {
  border-bottom: 5px solid $bread;
  background-color: $darkBrown;
}
.cart__icon {
  color: #fff;
  width: 40px;
  height: 40px;
  padding: 5px;
  transition: 0.8s;
  &:hover {
    color: $goldie;
  }
}
.cart__length {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 16px;
  height: 16px;
  font-size: 10px;
  border-radius: 50%;
  background-color: $bread;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  bottom: 20px;
  left: 32px;
}

.nav__links {
  font-size: 1.3rem;
  margin: 0 12px;
  right: 50px;
  color: $goldie;
  text-decoration: none;
  font-family: $righteousFont;
  transition: 0.9s;
  &:hover {
    color: #fff;
    text-shadow: 2px 2px 10px $bread;
  }
}

.brand-logo {
  color: $goldie;
  text-transform: uppercase;
  font-family: $lobsterFont;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 2px 2px 10px $bread;
}

.cart-widget {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
