@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.cart__icon {
  color: #ff8eaa;
  width: 40px;
  height: 40px;
  padding: 5px;
  transition: 1s;
  &:hover {
    color: #3e0595;
  }
}
.cart__length {
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  width: 15px;
  height: 15px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  background-color: red;
  color: white;
  border: 1px solid white;
  position: relative;
  bottom: 52px;
  left: 37px;
}

.nav__links {
  margin: 0 12px;
  right: 50px;
  color: #ff8eaa;
  text-decoration: none;
  font-family: "Lobster";
  transition: 1s;
  &:hover {
    color: #3e0595;
  }
}
