@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.cart__widget {
  color: #ff8eaa;
  width: 40px;
  height: 40px;
  padding: 10px;
  transition: 1s;

  &:hover {
    color: #3e0595;
  }
}
.cart__length {
  background: red;
  padding: 2px 5px;
  width: 20px;
  height: 20px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  border-radius: 50%;
  p {
    font-weight: bold;
    font-size: 0.8em;
    padding: 2px 5px;
    color: white;
  }
}

.nav__links {
  margin: 0 12px;
  right: 50px;
  color: #ff8eaa;
  text-decoration: none;
  font-family: "Lobster";
  transition: 1s;
  &:hover {
    color: #3e0595;
  }
}
