@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.colorIcon {
    color: violet;
    width: 20px;
    height: 20px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-size: medium;
    font-family: 'Lobster', cursive;
    transition: 1s;
}

a:hover{
    color: #ff8eaa;
}

.navLinks{
    margin: 0 12px;
    right: 50px;
    color: #ff8eaa;
}


