.footer {
  padding: 40px 0;
  background-color: #ce2f9b;
  align-self: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
  .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
    text-decoration: none;
    a {
      font-size: 24px;
      color: inherit;
      border: 1px solid white;
      width: 42px;
      height: 42px;
      line-height: 38px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      margin: 0 8px;
      opacity: 0.6;
      transition: 1s;
      &:hover {
        opacity: 0.9;
        background-color: #ff8eaa;
      }
    }
  }
  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: white;
    a {
      color: inherit;
      text-decoration: none;
      opacity: 0.8;
      transition: 1s;
      &:hover {
        opacity: 1;
      }
    }
    li {
      display: inline-block;
      padding: 0 15px;
    }
  }
  .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: gray;
  }
}
