@import '../../settings';

.footer {
  padding: 40px 0;
  background-color: $darkBrown;
  align-self: flex-end;
  width: 100%;
  position: absolute;
  bottom: 0;
  .social {
    text-align: center;
    padding-bottom: 25px;
    color: $goldie;
    text-decoration: none;
    a {
      font-size: 24px;
      color: inherit;
      width: 40px;
      height: 40px;
      line-height: 38px;
      display: inline-block;
      border-radius: 50%;
      margin: 0 8px;
      background-color: $milkCaramel;
      opacity: 0.3;
      transition: 1s;
      &:hover {
        opacity: 0.9;
        background-color: $milkCaramel;
      }
    }
  }
  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    color: $goldie;
    a {
      color: inherit;
      text-decoration: none;
      opacity: 0.5;
      transition: 1s;
      &:hover {
        opacity: 1;
        color: #fff;
      }
    }
    li {
      display: inline-block;
      padding: 0 15px;
    }
  }
  .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: $milkCaramel;
  }
}
