@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$darkBrown : #2b160a;
$coffee:#492d1a;
$milkCaramel:#704c29;
$bread:#9e753d;
$goldie:#d3a855;

$lobsterFont: Lobster;
$righteousFont: Righteous;


