@import './settings';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: whitesmoke;
  position: relative;
  min-height: 100vh;
  padding-bottom: 20em;
  font-family: $righteousFont;
}
